<header class="header">
  <h1>Bem-vindo ao Suporte da Taller</h1>
</header>

{{#link-to 'tickets.new' class="new-ticket"}}Abrir um novo ticket{{/link-to}}

<section class="container">
  <header>
    <h2>Histórico de tickets</h2>

    <div class="filter">
      <h3>Filtrar por</h3>

      <div class="field">
        <label for="categoria">Categoria</label>
        <select class="select" id="categoria">
          <option value="duvida">Dúvida</option>
          <option value="conta-violada">Conta violada</option>
          <option value="outros">Outros</option>
        </select>
      </div>
      <div class="field">
        <label for="produto">Produto</label>
        <select class="select" id="produto">
          <option value="general-wars">General Wars</option>
          <option value="barbarians">Barbarians</option>
          <option value="magic-campus">Magic Campus</option>
        </select>
      </div>
      <button type="button" class="button">Filtrar</button>
    </div>
  </header>

  <div class="table-container">
    <table>
      <tr>
        <th>Código do ticket</th>
        <th>Categoria</th>
        <th>Produto</th>
        <th>Criado em</th>
        <th>Última atualização</th>
        <th>Atendido por</th>
        <th>Status</th>
      </tr>
      {{#each model as |ticket|}}
      <tr>
        <td>{{#link-to 'tickets.edit' ticket.id}}{{ticket.id}}{{/link-to}}</td>
        <td>{{ticket.category}}</td>
        <td>{{ticket.product}}</td>
        <td>{{ticket.createdAt}}</td>
        <td>{{ticket.updatedAt}}</td>
        <td>{{ticket.attendedBy}}</td>
        <td>{{ticket.status}}</td>
      </tr>
      {{/each}}
    </table>
  </div>
</section>
